@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Montserrat:wght@200;400;700;900&family=Roboto&family=Roboto+Mono:wght@100;200;300;400&family=Ubuntu:wght@300;500&family=Work+Sans:wght@300&display=swap');

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: bisque;
  font-family: 'Inter', sans-serif;
}

#root{
  width: 100%;
}
